.card-container {
  position: relative;
  height: 200px;
  flex-grow: 1;
  overflow: hidden;
  color: green;
}

.card-info{
  border: solid 1px black;
  width: 100;
  justify-self: center ;
}

.card-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}