
.filtros {
  display: flex;
  color: green;
}

.container {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  max-height: 100%;
  width: 1400px;
  height: 1400px;
  background-color: green;
}

#root {
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 1rem;
  border: 1px solid gray;
}

@media screen and (min-width: 600px) {
  .card {
    flex: 1 1 calc(50% - 2rem);
  }
}

@media screen and (min-width: 900px) {
  .card {
    flex: 1 1 calc(33% - 2rem);
  }
}