@import "reset";

body {
  margin: 0;
  font-family: Open Sans;
  font-weight: normal;
  font-size: 20px;
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 1%;
  border-bottom: solid 2px #c7c7c7;
}

h5{
  margin-top: 2.5rem;
}

.fa-sharp {
  font-size: 24px;
}

.cotainer {
  padding: 2%;
}

.filtro-cores { 
  display: grid;
  grid-template-columns: repeat(2, 0.1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  margin: 1.5rem 0 0 0 ;
}
//Filtros
.filtros {
  display: flex;
  color: #333333;
  flex-direction: column;
  font-size: 15px;
  width: 15rem;
}

.filtro-tamanhos {
  display: grid;
  flex-direction: column;
  grid-template-columns: repeat(8, 0fr);
  grid-row-gap: 5px;
}

.filtro-tamanhos {
  justify-content: space-between;
  cursor: pointer;
}

// .filtro-tamanhos input[type="radio"] {
//   opacity: 0;
//   position: fixed;
//   width: 0;
// }

// .filtro-tamanhos label {
//   cursor: pointer;
//   display: inline-block;
//   margin: 2px;
//   border: 2px solid rgba(0, 0, 0, 0.5);
// }

// .filtro-tamanhos input[type="radio"]:focus + label {
//   border: 2px solid rgba(0, 0, 0, 0.5);
// }

// .filtro-tamanhos input[type="radio"]:checked + label {
//   border-color: #00c0ee;
//   color: #121212;
//   font-weight: bold;
// }

.filtro-precos { 
  background-color: aqua;
  display: inline-flexbox;
  flex-direction: column;
  align-items: flex-start;
  justify-items: center;
  width: 100%; 
}

.radio-input-label {
  display: flex;
  flex-direction: row;
}

.radio-input-label label {
  margin-left: 5%;
}
//select de ordenacao
.blusas-ordenar {
  display: flex;
  justify-content: space-between;
}

.blusas-ordenar a {
  font-size: 32px;
  color: #333333;
}
//cards
.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 150px;
  grid-row-gap: 150px;
}

.btn-carregar-mais {
  color: #fff;
  background-color: #00c0ee;
  font-weight: bold;
  width: 175px;
  height: 2.3rem;
  cursor: pointer;
  border: none;
  margin-top: 10%;
}

footer {
  display: flex;
  background-color: black;
  color: #fff;
  height: 2.3rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
  bottom: 0;
}
//Responsividade
@media screen and (max-width: 500px) {
  a {
    display: flex;
    justify-content: center;
  }
  .ordenar {
    border: solid 1px #333333;
  }
  .filtros {
    clear: none;
    float: right;
    max-height: none;
    border: solid 1px #333333;
  }
  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 150px;
    grid-row-gap: 150px;
  }
}